@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div id="app">
    <h3>City: </h3>
    <h2>{{ info.data.name }}</h2>
    <h3>Current temperature: </h3>
    <h2>{{ info.data.main.temp }} &deg;C</h2>

</div>
